<div class="header">
  <h1 class="text-muted">AdPredictor Visualization</h1>
</div>

<h2>Mean/Variance of weights after {{numExamples()}} examples</h2>

<div class="row">
  <div class="col-md-12">
    <div class="chart">
      <nvd3-scatter-chart
         data="weights"
         id="showLegendExample"
         width="700"
         height="400"
         x="xFunction()"
         y="yFunction()"
         yAxisTickFormat="formatFunction()"
         xAxisTickFormat="formatFunction()"
         showDistX="true"
         showDistY="true"
         showLegend="true">
        <svg>
        </svg>
      </nvd3-scatter-chart>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button
       type="button"
       class="btn btn-lg btn-block"
       ng-class="trainingStatus() ? 'btn-danger' : 'btn-primary'"
       ng-click="toggleTraining()">
      {{ trainingStatus() ? 'Stop Training' : 'Start Training'}}
    </button>
  </div>
</div>
